body{
    margin: 0%;
    font-family: 'EB Garamond', serif;
    font-family: 'Noto Serif', serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    margin: 5px;
    
}
.lo{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding: 1%;
    padding-left: 3%;

}
p{
    color: rgb(8, 0, 0);
}
.half-width img{
    width: 70%;
}
.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, aqua,rgb(200, 255, 0));
    border-radius: 10px;
    padding: 10px 5px;
    padding-left: 3%;
    color: rgb(245, 3, 3);
    font-weight: 500;    
}
.dream-area{
    background-image: url("pro.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left;
}
.fake{
    box-shadow: 5px 5px 15px aqua;
    border-radius: 15px;
    height: 60%;
    background-color: white;
}
.expe{
background-image: url("lol.png");
background-repeat: no-repeat;
background-position: left;
}
#fill{
    border-left: 4px solid orangered ;
}
#full{
    border-left: 4px solid orangered;
}
footer p{
    text-align: center;
}
#br uff{
    padding-bottom: 10px;
}
.lss{
    padding-bottom: 3%;
}